<div class="card mt-5">
  <div class="card-body">
    <h3 class="card-title text-center">Recuperar Contraseña</h3>
    <div class="form-group">
      <input
        type="email"
        class="form-control"
        [formControl]="userEmail" placeholder="Ingrese su correo electrónico"
        required
      />
    </div>
    <div class="form-group text-center">
      <button class="btn btn-primary btn-lg" (click)="onReset()">
        Recuperar Contraseña
      </button>
    </div>
  </div>
</div>
